* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

body {
    height: 100%;
    background-image: url("/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


nav {
    background-color: #8BB174;
    height: 80px;
    width: 100%;
    background: linear-gradient(180deg, #8BB174 0%, #ACD493 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: 'Rubik', sans-serif;
}

nav ul {
   display: flex;
   justify-content: space-around;
   text-align: center;
   align-items: center;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    width: 25%;
}

nav ul li a{
    color: black;
    font-size: 18px;
    padding: 7px 13px;
    font-weight: bold;
}

.icon {
    width: 15px;
}

a.active, ul li:hover {
    background: yellow;
    transition: .5s;
}

.active {
    background: yellow;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.logo {
    max-width: 100px;
}



.hero {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 5px;
}

.home-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-body-section-1 {
    width: 30%;
    margin: 50px;
}

.mascot {
    width: 500px;
    z-index: -2;
}

.home-body-span {
    color: #8BB174;
}

.home-body-text {
    margin-top: 50px;
    font-size: 15px;
    color: #8F8A73;
}

h1 {
    font-size: 64px;
    font-family: 'Arimo', sans-serif;
}

h2 {
    font-size: 38px;
    font-family: 'Arimo', sans-serif;
}

h4 {
    font-size: 22px;
    font-family: 'Arimo', sans-serif;
}

.bold-text {
    color: #8BB174;
}

.about-section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-mascot {
    width: 20%;
}

.about-body {
    padding: 50px;
}


.about-hand {
    margin-bottom: 50px;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    z-index: -2;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}

footer ul a {
    color: white;
}



/* for mobile phone */


@media (max-width: 858px) {


    .checkbtn {
        display: block;
    }

    h1 {
        font-size: 40px;
    }

    nav ul {
        position: absolute;
        height: 100vh;
        background: #8BB174;
        top: 80px;
        left: -110%;
        transition: all .5s;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    nav ul li {
        display: block;
        margin: 30px 0;
        line-height: 30px;
        width: 100vw;
    }

    nav ul li a {
        font-size: 20px;
    }
    ul li:hover {
        background: none;
    }

    a:hover, a:active {
        background: none;
        color: yellow;
    }

    #check:checked ~ #slider {
        display: none;
    }

    #check:checked ~ ul {
        left: 0;
    }

    footer {
        position: absolute;
        bottom: -80px;
    }

    #slider {
        position: relative;
        z-index: -2;
    }

   
   
}

@media (max-width: 700px) {


    
    .hero {
        flex-direction: column;
    }

   .logo {
    margin-bottom: 50px;
   }

   h1 {
    width: 90%;
    font-size: 30px;
   }

   h1 span {
    font-size: 70px;
   }

   .home-body-text {
    font-size: 14px;
   }

   .home-body {
    display: block;
   }


   .home-body-section-1 h2, h4 {
    display: none;
   }

   .home-body-section-1 {
    z-index: -1;
    position: absolute;
    top: 20%;
    right: 0px;
    width: 50%;
    }

    .home-body-mascot {
        display: grid;
        place-items: center;
     }

    .mascot {
        padding-top: 20px;
        width: 50%;
    }

    footer ul{
        flex-direction: column;
        gap: 0;
    }

    input[type="radio"] {
        margin: 20px 10px 0 0;
    }

    #slider {
        display: none;
    }


}



@media (max-width: 530px) {
    

    h1 {
    width: 90%;
    font-size: 20px;
    }

    h1 span {
    font-size: 50px;
    }

    .home-body-section-1 {
    z-index: -1;
    position: absolute;
    top: 190px;
    right: 0px;
    width: 40%;
    }

    .home-body-text {
    font-size: 12px;
    }

    .home-body-mascot {
    position: absolute;
    bottom: 0;
    }

    .about-section {
        flex-direction: column;
    }

    .about-mascot {
        width: 40%;
    }

    .about-section h1 {
    font-size: 28px;
    }
    
    .about-section p {
        font-size: 12px;
    }

    #slider {
        display: none;
    }


}